/* Not much here because we rely mostly on bootstrap. Here is my simple extension. */

/*** HTML IDs ***/

#app {
  color: #4d4d4d;
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 10px;
  min-width: 788px;
}

/*** HTML tags ***/

a.active {
  color: orange;
}

a:hover {
  cursor: pointer;
}

a.noGrab:hover {
  cursor: default;
  text-decoration: none;
}

nav {
  padding-top: 20px;
}

table td {
  overflow-wrap: break-word;
  word-wrap: break-word;
}

ul {
  padding-left: 1.2em
}

/*** My classes ***/

.tableHeaderBackgroundColor {
  background-color: #FFEEDB;
}

.colorBlue {
  color: blue;
}
.colorDarkBlue {
  color: darkblue;
}
.colorDeepPink {
  color: deeppink;
}
.colorOrange {
  color: orange;
}

.displayInLineBlock {
  display: inline-block;
}

.fontSize14px {
  font-size: 14px;
}
.fontSize16px {
  font-size: 16px;
}
.fontSize28px {
  font-size: 28px;
}
.fontSizeSmall {
  font-size: small
}

.google-ad-container {
  width: 95%;
  margin:0px auto 0px auto;
}

.margin10px {
  margin: 10px;
}
.marginBottom5px {
  margin-bottom: 5px;
}
.marginRight3px {
  margin-right: 3px;
}
.marginRight10px {
  margin-right: 10px;
}
.marginRight-22px {
  margin-right: -22px;
}
.marginTop10px {
  margin-top: 10px;
}
.marginTop6px {
  margin-top: 6px;
}


.yangrowbackground {
  background-color: #e2ffeb;
}
.yinrowbackground {
  background-color: #fff0f9;
}

.yt-display-center {
  display: block;
  margin-left: auto !important;
  margin-right: auto !important;
  /* vertical-align:middle !important; */
  margin-top: auto !important;
  margin-bottom: auto !important;
}
.yt-section-main {
  margin: 20px auto;
}

/***

.fontSizeSmall {
  font-size: small;
}

.marginRight10px {
  margin-right: 10px;
}

***/
